:root {
  --base-black: #11002b;
  --base-black-10: #11002b1a;
  --base-black-20: #11002b33;
  --base-black-30: #11002b4d;
  --base-black-40: #11002b66;
  --base-black-50: #11002b80;
  --base-black-80: #11002bcc;
  --base-white: #ffffff;
  --base-white-10: #ffffff1a;
  --base-white-20: #ffffff33;
  --base-white-30: #ffffff4d;
  --base-white-40: #ffffff66;
  --base-white-50: #ffffff80;
  --error-100: #FCD8DA;
  --error-200: #ff5677;
  --error-400: #ff5677;
  --error-500: #ff0032;
  --error-700: #AD1B2D;
  --gray-100: #f4f2f5;
  --gray-200: #e9e7ed;
  --gray-300: #dbd7e2;
  --gray-400: #c1bacb;
  --gray-50: #f8f8fa;
  --gray-500: #a99db6;
  --gray-600: #9686a2;
  --gray-700: #84738f;
  --gray-800: #6d6077;
  --gray-900: #5a5062;
  --gray-950: #3b3441;
  --primary-100: #e9e7f8;
  --primary-200: #d8d4f1;
  --primary-300: #c1b9e8;
  --primary-400: #ae9edd;
  --primary-50: #f3f2fc;
  --primary-500: #9d85d0;
  --primary-600: #8e6bc0;
  --primary-700: #7b5aa8;
  --primary-800: #644c88;
  --primary-900: #54426e;
  --primary-950: #413355;
  --secondary-100: #ddfbea;
  --secondary-200: #bef6d7;
  --secondary-300: #89ecb9;
  --secondary-400: #4fd991;
  --secondary-50: #f1fdf6;
  --secondary-500: #06d373;
  --secondary-500-30: #06d3734d;
  --secondary-500-50: #06d37380;
  --secondary-600: #1b9e5a;
  --secondary-700: #19633d;
  --secondary-800: #19633d;
  --secondary-900: #155134;
  --secondary-950: #062d1a;
  --system-40: #9747ff66;
  --system-600: #9747ff;
  --tertiary-100: #fde6f8;
  --tertiary-200: #ffccf4;
  --tertiary-300: #fea3ea;
  --tertiary-400: #fc84df;
  --tertiary-50: #fef1fc;
  --tertiary-500: #f640c4;
  --tertiary-600: #e51ea6;
  --tertiary-700: #c70f87;
  --tertiary-800: #a60f71;
  --tertiary-900: #89125e;
  --tertiary-950: #540336;
  --warning-100: #FFFAC1;
  --warning-400: #f3c540;
  --warning-500: #efb100;
  --warning-700: #A76002;
}