:root {
  --container-modal-320: 320px;
  --container-mobile: 375px;
  --container-modal-640: 640px;
  --container-modal-960: 960px;
  --container-1400: 1400px;
  --container-1680: 1680px;
  --radius-0: 0px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
  --radius-3xl: 32px;
  --radius-4xl: 40px;
  --radius-999: 100000000px;
  --space-0: 0px;
  --space-xs: 4px;
  --space-sm: 6px;
  --space-md: 8px;
  --space-lg: 10px;
  --space-xl: 12px;
  --space-2xl: 16px;
  --space-3xl: 20px;
  --space-4xl: 24px;
  --space-5xl: 32px;
  --space-6xl: 40px;
  --space-7xl: 48px;
  --space-8xl: 64px;
  --space-9xl: 80px;
  --space-10xl: 120px;
  --space-11xl: 160px;
  --stroke-sm: 1px;
  --stroke-md: 1.25px;
  --stroke-xl: 1.5px;
}