:root {
  --bg-brand: var(--secondary-500, #06d373);
  --bg-brand-alt: var(--tertiary-400, #fc84df);
  --bg-brand-hover: var(--secondary-400, #4fd991);
  --bg-brand-light: var(--secondary-100, #ddfbea);
  --bg-brand-light-hove: var(--secondary-50, #f1fdf6);
  --bg-disabled: var(--gray-50, #f8f8fa);
  --bg-error: var(--error-500, #ff0032);
  --bg-error-hover: var(--error-200, #ff5677);
  --bg-neutral: var(--gray-100, #f4f2f5);
  --bg-neutral-focus: var(--gray-300, #dbd7e2);
  --bg-neutral-hover: var(--gray-200, #e9e7ed);
  --bg-surface: var(--base-white, #ffffff);
  --bg-surface-dark: var(--base-black, #11002b);
  --bg-surface-dark-hover: var(--primary-950, #413355);
  --bg-warning: var(--warning-500, #efb100);
  --bg-warning-hover: var(--warning-500, #efb100);
  --icon-on-brand-black: var(--base-black, #11002b);
  --icon-on-brand-alt-primary: var(--base-black, #11002b);
  --icon-on-error-primary: var(--base-white, #ffffff);
  --icon-on-neutral-error: var(--error-500, #ff0032);
  --icon-on-neutral-primary: var(--base-white, #ffffff);
  --icon-on-neutral-warning: var(--warning-500, #efb100);
  --icon-on-surface-brand: var(--secondary-500, #06d373);
  --icon-on-surface-disabled: var(--gray-200, #e9e7ed);
  --icon-on-surface-error: var(--error-500, #ff0032);
  --icon-on-surface-primary: var(--gray-400, #c1bacb);
  --icon-on-surface-secondary: var(--gray-300, #dbd7e2);
  --icon-on-surface-warning: var(--warning-500, #efb100);
  --icon-on-surface-dark-error: var(--error-500, #ff0032);
  --icon-on-surface-dark-primary: var(--base-white, #ffffff);
  --icon-on-surface-dark-warning: var(--warning-500, #efb100);
  --icon-on-warning-primary: var(--base-white, #ffffff);
  --stroke-on-brand-primary: var(--base-black, #11002b);
  --stroke-on-neutral-primary: var(--base-white, #ffffff);
  --stroke-on-surface-primary: var(--gray-200, #e9e7ed);
  --stroke-on-surface-dark-primary: var(--gray-700, #84738f);
  --text-on-brand-primary: var(--base-black, #11002b);
  --text-on-brand-alt-primary: var(--base-black, #11002b);
  --text-on-brand-light-primary: var(--base-black, #11002b);
  --text-on-error-primary: var(--base-white, #ffffff);
  --text-on-neutral-brand: var(--secondary-500, #06d373);
  --text-on-neutral-error: var(--error-500, #ff0032);
  --text-on-neutral-primary: var(--base-black, #11002b);
  --text-on-neutral-secondary: var(--gray-950, #3b3441);
  --text-on-neutral-warning: var(--warning-500, #efb100);
  --text-on-surface-brand: var(--secondary-500, #06d373);
  --text-on-surface-disabled: var(--gray-400, #c1bacb);
  --text-on-surface-error: var(--error-500, #ff0032);
  --text-on-surface-primary: var(--base-black, #11002b);
  --text-on-surface-secondary: var(--gray-900, #5a5062);
  --text-on-surface-warning: var(--warning-500, #efb100);
  --text-on-surface-dark-brand: var(--secondary-500, #06d373);
  --text-on-surface-dark-error: var(--error-500, #ff0032);
  --text-on-surface-dark-primary: var(--base-white, #ffffff);
  --text-on-surface-dark-secondary: var(--gray-950, #3b3441);
  --text-on-surface-dark-warning: var(--warning-500, #efb100);
  --text-on-warning-primary: var(--base-white, #ffffff);
}