@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: url('mulish/mulish-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 400;
  src: url('mulish/mulish-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  src: url('mulish/mulish-medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 500;
  src: url('mulish/mulish-medium-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: url('mulish/mulish-semi-bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 600;
  src: url('mulish/mulish-semi-bold-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: url('mulish/mulish-bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 700;
  src: url('mulish/mulish-bold-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  src: url('mulish/mulish-extra-bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 800;
  src: url('mulish/mulish-extra-bold-italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 900;
  src: url('mulish/mulish-black.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 900;
  src: url('mulish/mulish-black-italic.woff2') format('woff2');
  font-display: swap;
}
